version: "3.9"

services:
  rstudio:
    build:
      context: .
      dockerfile: Dockerfile
    image: "mokztk/rstudio2:4.5.0"
    ports:
      - "8787:8787"
    depends_on:
      - base
    networks:
      - labnet
    environment:
      - PASSWORD=password

  ssh:
    build:
      context: .
      dockerfile: Dockerfile_ssh
    image: "mokztk/r_remote2:4.5.0"
    ports:
      - "22222:22"
    depends_on:
      - base
    networks:
      - labnet

networks:
  labnet:
    driver: bridge
