version: "3.9"

services:
  rstudio:
    build:
      context: .
      dockerfile: Dockerfile
      target: rstudio
    image: "mokztk/rstudio:4.5.0"
    ports:
      - "8787:8787"
    networks:
      - labnet
    environment:
      - DISABLE_AUTH=true

  ssh:
    build:
      context: .
      dockerfile: Dockerfile
      target: ssh
    image: "mokztk/r_remote:4.5.0"
    ports:
      - "22222:22"
    networks:
      - labnet

networks:
  labnet:
    driver: bridge
