name: Build Docker Images

on:
  workflow_dispatch:
    inputs:
      image_tag:
        description: "Release tag (e.g. 4.5.1_2026Feb)"
        required: true
  push:
    branches:
      - devel

permissions:
  contents: read
  packages: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: docker/setup-qemu-action@v3

      - uses: docker/setup-buildx-action@v3

      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Set tag
        id: vars
        run: |
          if [ "${{ github.event_name }}" = "workflow_dispatch" ]; then
            echo "TAG=${{ github.event.inputs.image_tag }}" >> $GITHUB_OUTPUT
          else
            echo "TAG=dev" >> $GITHUB_OUTPUT
          fi

      # -----------------------------
      # rstudio image
      # -----------------------------
      - name: Build and Push rstudio
        uses: docker/build-push-action@v5
        with:
          context: .
          target: rstudio
          push: true
          platforms: linux/amd64,linux/arm64
          tags: ghcr.io/${{ github.repository }}:${{ steps.vars.outputs.TAG }}-rstudio
          cache-from: type=gha
          cache-to: type=gha,mode=max
          provenance: false
          sbom: false

      # -----------------------------
      # ssh image
      # -----------------------------
      - name: Build and Push ssh
        uses: docker/build-push-action@v5
        with:
          context: .
          target: ssh
          push: true
          platforms: linux/amd64,linux/arm64
          tags: ghcr.io/${{ github.repository }}:${{ steps.vars.outputs.TAG }}-ssh
          cache-from: type=gha
          cache-to: type=gha,mode=max
          provenance: false
          sbom: false
