name: Cleanup GHCR

on:
  schedule:
    - cron: '0 3 * * *'
  workflow_dispatch:

permissions:
  packages: write

jobs:
  cleanup:
    runs-on: ubuntu-latest

    steps:
      # untagged 削除
      - name: Delete untagged images
        uses: actions/delete-package-versions@v5
        with:
          package-name: rstudio_docker
          package-type: container
          delete-only-untagged-versions: true

      # dev-rstudio の古い version だけ削除
      - name: Cleanup dev-rstudio
        uses: actions/delete-package-versions@v5
        with:
          package-name: rstudio_docker
          package-type: container
          ignore-versions: '^(?!dev-rstudio$).*'
          min-versions-to-keep: 1

      # dev-ssh の古い version だけ削除
      - name: Cleanup dev-ssh
        uses: actions/delete-package-versions@v5
        with:
          package-name: rstudio_docker
          package-type: container
          ignore-versions: '^(?!dev-ssh$).*'
          min-versions-to-keep: 1
