name: Cleanup GHCR

on:
  schedule:
    - cron: '0 3 * * *'   # 毎日 03:00 UTC
  workflow_dispatch:

permissions:
  packages: write

jobs:
  cleanup:
    runs-on: ubuntu-latest

    steps:
      - name: Delete old dev images and untagged images
        uses: actions/delete-package-versions@v5
        with:
          package-name: rstudio_docker
          package-type: container

          # untagged を全削除
          delete-only-untagged-versions: true

          # dev-rstudio は1つだけ残す
          ignore-versions: '^dev-rstudio$'
          min-versions-to-keep: 1
          delete-only-pre-release-versions: false

      - name: Delete old ssh-dev images
        uses: actions/delete-package-versions@v5
        with:
          package-name: rstudio_docker
          package-type: container

          ignore-versions: '^dev-ssh$'
          min-versions-to-keep: 1
          delete-only-pre-release-versions: false
