name: Cleanup GHCR

on:
  schedule:
    - cron: '0 3 * * *'   # 毎日 03:00 UTC
  workflow_dispatch:

permissions:
  packages: write

jobs:
  cleanup:
    runs-on: ubuntu-latest

    steps:
      # untagged は削除
      - name: Delete untagged images
        uses: actions/delete-package-versions@v5
        with:
          package-name: rstudio_docker
          package-type: container
          delete-only-untagged-versions: true

      # rstudio-dev を1つだけ残す
      - name: Cleanup old rstudio-dev
        uses: actions/delete-package-versions@v5
        with:
          package-name: rstudio_docker
          package-type: container
          delete-only-pre-release-versions: false
          delete-only-versions: '^dev-rstudio$'
          min-versions-to-keep: 1

      # ssh-dev を1つだけ残す
      - name: Cleanup old ssh-dev
        uses: actions/delete-package-versions@v5
        with:
          package-name: rstudio_docker
          package-type: container
          delete-only-pre-release-versions: false
          delete-only-versions: '^dev-ssh$'
          min-versions-to-keep: 1
